


#h2_header {
	font-size: 3.4rem;
}

#loginError {
	color: #fff;
	display: none;
	background-color: #FD7272;
}

.before_btn {
	padding: 10px;
	display: block;
}

.mbefore {
	margin-top: 20px;
}

.mafter {
	margin-bottom: 20px;
}

.upcase {
	text-transform: uppercase;
}

.mcenter {
	margin-left: 50%;
}

.pagemenu {
	padding-bottom: 5px;
	padding-top: 5px;
	background: #E4E4E4;
	margin-top: -18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DADADA;
}

.text-late-latif {
	color: #FF2D2D;
}

#gear_no {
	text-transform: uppercase;
}

#schedule_details {
	display: none;
	background: #fff;
	padding-left: 0;
}

#schedule_maintenance_div {
	background: #E4E4E4;
	padding-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
}

#add_gear_span {
	display: none;
}

.skin-black .sidebar>.sidebar-menu>li>a:hover, .skin-black .sidebar>.sidebar-menu>li.active>a
	{
	border-right: 3px solid #f35f4d;
}
.skin-black .logo{
	background: #f35f4d;
}